<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#user').val("new User");
        });


    </script>

</head>
<body>
   <form action="/loginSuccess" method="post">
       User Name <input type="text" placeholder="enter UserName" id="user" name="username" style="color: red;">
       Password <input type="text" placeholder="enter password" id="pass" name="passwrd" style="color: aqua;">
       <input type="submit" value="Submit" name="sumit">
       <input type="reset" name="Reset" >
   </form>

</body>
</html>