<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script>
        function submit() {
            alert("login successed!");
            console.log("asdfghjksdfgh");
        }
        function reset() {
            res.send("data clear please choose again")
        }
    </script>
</head>
<body>
   <form action="/loginSuccess" method="post">
       User Name <input type="text" placeholder="enter UserName" name="username" style="color: red;">
       Password <input type="text" placeholder="enter password" name="passwrd" style="color: aqua;">
       <input type="submit" value="Submit" name="sumit">
       <input type="button" value="Reset" name="reset">
   </form>

</body>
</html>